.Sidebar {
  position: fixed;
  height: 100vh;
  max-width: 200px;
  background-color: white;
  color: #001626;
  transition: 1s;
  overflow-y: auto;
}

.LogoContainer {
  box-shadow: 0px 4px 4px rgba(43, 45, 55, 0.04);
  /* padding-bottom: 12px; */
  height: 50px;
  padding-top: 8px;
}

@media (max-width: 1000px) {
  .Sidebar {
    position: absolute;
    transform: translateX(-100%);
  }
}

.SidebarOpen {
  transform: translateX(0%);
  position: fixed;
  z-index: 200;
  display: inline-block;
}

.SidebarClose {
  transform: translateX(-100%);
  z-index: 200;
}
@media (min-width: 1000px) {
  .Sidebar {
    display: inline-block;
    transform: translateX(0%);
    width: 100%;
  }
}

.Item {
  position: relative;
  padding-top: 14px;
  padding-left: 11px;
  padding-bottom: 14px;
  margin-bottom: 8px;
  margin-left: 16px;
  font-size: 14px;
  list-style: none;
  font-weight: 500;
}
.Item:hover {
  cursor: pointer;
}
.ActiveItem {
  background-color: #fc5447;
  border-radius: 4px;
  color: white;
}
.DropdownIcon {
  position: absolute;
  right: 23px;
}
.Subitem {
  margin-left: 45px;
  margin-bottom: 10px;
  color: #6f87a0;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
}
.Subitem:hover {
  cursor: pointer;
}
.ActiveSubitem {
  color: #fff;
  background-color: #fc5447;
}
