.Navbar {
  height: 50px;
  align-items: center;
  margin: 0px;
  justify-content: flex-end;
}

.Logo {
  width: 102px;
  height: 30px;
}

.Item {
  border-left: 2px solid #f5f6f9;
  display: inline-block;
  margin: auto;
  padding: 0px 15px;
  font-size: 22px;
}
.Item:hover {
  cursor: pointer;
}
.Name {
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.Avatar {
  border-radius: 50%;
  height: 22px;
  width: 22px;
}
.AvatarContainer {
  position: relative;
}
/* .AvatarContainer::after {
  content: '';
  bottom: -33%;
  left: 75%;
  height: 10px;
  border: 2px solid #fff;
  box-shadow: 0 2px 3px rgb(0 0 0 / 30%);
  border-radius: 50%;
  position: absolute;
  width: 10px;
  background-color: #38b653;
} */
@media (max-width: 1000px) {
  .DesktopOnly {
    display: none;
  }
  /* .AvatarContainer::after {
    bottom: -23%;
    left: 63%;
  } */
}
.Hamburger {
  display: none;
  padding-left: 16px;
}
.Hamburger:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .Navbar {
    height: 50px;
    justify-content: space-between;
  }
  .Item {
    border: none;
    padding: 0px 12px;
  }
  .Hamburger {
    display: inline-block;
  }
}
